---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Projects</div>
    </div>

    <HorizontalCard
        title="BLE Server"
        img="/bleserver.png"
        desc="This application is a desktop application for windows to simulate different Bluetooth Low Energy Devices. It is built with .NET Maui."
        url="https://bleserver.soerenchrist.de"
        badge=".NET"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Tourgether"
        img="/tourgether.svg"
        desc="Tourgether is a social media application for hikers. It allows to share hiking routes and keep track of the hiked mountains. It uses Next.JS and TypeScript."
        url="https://tourgether.eu"
        badge="Typescript"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Pixelizer"
        img="/avalonia.svg"
        desc="Pixelizer is a utility desktop application to generate pixel-style images for plotting on a CNC machine. It uses .NET and Avalonia."
        url="https://github.com/soerenchrist/pixelizer"
        badge=".NET"
    />
    <div class="More"></div>
    <HorizontalCard
        title="More"
        img="/github.svg"
        desc="There are more projects on my github profile"
        url="https://github.com/soerenchrist"
    />
</BaseLayout>
